.footer {
    background-color: #0B1919;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer__list {
    display: flex;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__item {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}